<form action="/students" method="post">
  <label for="first-name"> First Name: </label>
  <input id="first-name" type="text" name="first_name" required>

  <label for="last-name"> Last Name: </label>
  <input id="last-name" type="text" name="last_name" required>

  <label for="house"> House: </label>
  <select id="house" name="house_id">
    <% @houses.each do |house|%>
    <option value="<%= house.id.to_i %>"><%= house.name %></option>
    <% end %>
  </select>

  <label for="age"> Age: </label>
  <input id="age" type="text" name="age" required>

  <input type="submit" value="Submit">
</form>
