body {
}

h1 {
  font-family: 'Lobster', cursive;
}
.grid {
  border: 1px solid royalblue;
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid darkslategray;
  text-align: center;
}
